/* #bg-img-top-dinos {
  margin-top: -160px;
  height: 100vh;
  background-image: url("../images/BgImageTopDinos.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
} */

.grid-container {
  /* padding-top: 80px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-template-rows: 1fr 1fr;
  width: 90vw;
  margin: 5rem auto;
  gap: 1rem;
}
/* @media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
} */
/* @media screen and (max-width: 1080px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
} */

.grid-card {
  margin: auto;
  background-color: rgba(189, 122, 34, 0.9);
  border: 1px black solid;
  border-radius: 5px;
  padding: 1rem;
}
.grid-card img {
  margin: auto;
  width: 14rem;
  height: 9rem;
}
