#bg-img-top-dinos {
    margin-top: -80px;
    height: 100vh;
    background-image: url("../images/BgImageTopDinos.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}